<mat-card class="card p-0 mt-3 bg-transparent d-flex flex-column align-items-center col-12 pe-sm-5 ps-sm-5"
          xmlns="http://www.w3.org/1999/html">
  <mat-card-content class="products-image"
                    [ngClass]="{ 'small': value === 20, 'small-two-columns': value === 35}"
                    [routerLink]="['/product-info-page', product.id]"
                    [ngStyle]="{'background-image' : product.imageUrl ? 'url(' + product.imageUrl + ')' : 'url(../../../../assets/images/404.jpeg)'}"
  ></mat-card-content>
  <div>
    {{product.name}}
    <span class="badge-pill badge-primary">
          {{ product.price | currency:"USD":"symbol":"2.2-2" }}
        </span>
  </div>
  <mat-card-content class="card-text bg-transparent p-1">{{product.description}}</mat-card-content>
  <mat-card-actions class="d-flex">
    <!--quantity buttons-->
    <form [formGroup]="quantityForm" class="quantity_form">
        <button mat-icon-button *ngIf="!checked"
                class="value-button rounded-3" id="decrease"
                (click)="decreaseValue()">
          <mat-icon  [inline]="true">chevron_left</mat-icon>
        </button>
        <input matInput type="number" formControlName="quantity"
               [ngStyle]="{'box-shadow': !checked ? 'inset 7px 5px 8px 2px rgba(0,0,0,0.2)' : 'none'}"
               #quantity  [readonly]="checked">
        <button mat-icon-button *ngIf="!checked"
                class="value-button rounded-3" id="increase"
                (click)="increaseValue()">
          <mat-icon  [inline]="true">chevron_right</mat-icon>
        </button>
    </form>
    <!--add to cart button-->
    <section class="check_section" [ngClass]="{ 'cart-upper': value === 35}">
      <mat-checkbox class="check_margin" [(ngModel)]="checked" (click)="addToCart(product, quantity.value)">
        <button mat-icon-button class="btn btn-primary rounded-3"
                [ngStyle]="{'box-shadow': checked ? 'inset 7px 5px 8px 2px rgba(0,0,0,0.2)' : '2px 2px 10px rgba(0,0,0,0.3)'}">
          <mat-icon  [inline]="true">add_shopping_cart</mat-icon>
        </button>
      </mat-checkbox>
    </section>
  </mat-card-actions>
</mat-card>
