<mat-card class="card mt-3 p-0 bg-transparent d-flex flex-column align-items-center col-12">
  <mat-card-content class="products-image"
                    [ngClass]="{ 'small': value === 20, 'small-two-columns': value === 35}"
                    [routerLink]="['/product-page', product.id]"
                    [ngStyle]="{'background-image' : product.imageUrl ? 'url(' + product.imageUrl + ')' : 'url(../../../../assets/images/404.jpeg)'}"
  ></mat-card-content>
  <div>
    {{product.name}}
    <span class="badge-pill badge-primary">
          {{ product.price | currency:"USD":"symbol":"2.2-2" }}
        </span>
  </div>
  <mat-card-content class="card-text bg-transparent p-1">{{product.description}}</mat-card-content>
  <mat-card-actions>
    <!--quantity buttons-->
  </mat-card-actions>
</mat-card>
