<mat-card>
  <mat-card-content class="d-flex w-100 flex-column">
    <button mat-button class="shadow long mb-5 custom_button" mat-dialog-close>
      <span>Pay by Card</span>
    </button>
    <div class="d-flex mb-5 justify-content-between">
      <button mat-button class="shadow">
        <img src="../../../assets/images/google-pay.png" alt="">
      </button>
      <button mat-button class="shadow">
        <img src="../../../assets/images/apple-pay.png" alt="">
      </button>
      <button mat-button class="shadow">
        <img src="#" alt="">
      </button>
    </div>
    <button mat-button class="shadow long mb-5 custom_button">
      <span>Pay by Cash</span>
    </button>
  </mat-card-content>
</mat-card>
