<div class="product text-secondary">
  <div class="header">
    <h1>Product title</h1>
  </div>

  <div class="info">
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
  </div>

  <div class="footer">
    <button class="btn btn-primary text-secondary" routerLink="/">
      Повернутися до каталогу..
    </button>
  </div>
</div>
