@import "../../../../stylings/helpers/mixins";

.mat-icon{
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 5px;
}

/*search line*/
.search_field{
  border-radius: 30px;
  @include font-menu;
  @include inner-shadow;
  ::ng-deep .mat-form-field-wrapper{
    padding: 3px 0 3px 15px;
  }
  ::ng-deep .mat-form-field-flex{
    align-items: center;
  }
  .mat-icon{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    z-index: 1000;
    @include shadow;
  }
}
