@import "../../../../assets/styles/helpers/mixins";
@import "../../../../assets/styles/helpers/variables";

/*search line*/
.search_field {
  border-radius: 30px;
  @include font-menu;
  box-shadow: $inner-shadow;

  ::ng-deep {
    .mat-form-field-infix {
      display: flex;
    }
    .mat-form-field-wrapper {
      padding: 3px 15px;
    }
    .mat-form-field-flex {
      align-items: center;
    }
  }
}
